    {% extends "base.html" %}

    {% block content %}

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            color: #212529;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            color: #575757;
            margin-top: 20px;
        }
        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
        }
        th {
            background-color: #575757;
            color: white;
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        @media (max-width: 600px) {
            table, th, td {
                display: block;
                width: 100%;
            }
            th, td {
                box-sizing: border-box;
            }
            th {
                background-color: #007bff;
                color: white;
                text-align: center;
            }
            tr {
                margin-bottom: 15px;
            }
        }
    </style>
    <h1>अधिवक्ता सूची</h1>
    <table id="advocatesTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">अधिवक्ता</th>
                <th onclick="sortTable(1)">संपर्क</th>
                <th onclick="sortTable(2)">विशेषज्ञता क्षेत्र</th>
                <th onclick="sortTable(3)">पद</th>
            </tr>
        </thead>
        <tbody>
            {% for advocate in advocates %}
            <tr>
                <td>{{ advocate.name }}</td>
                <td>{{ advocate.phone }}</td>
                <td>
                    {% for area in advocate.practice_areas.all %}
                        {{ area.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for role in advocate.roles %}
                        {{ role.role.name }} {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("advocatesTable");
            switching = true;
            dir = "asc"; 
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    {% endblock content %}