{% extends "base.html" %}

{% block content %}

<style>
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .service-instructions, .payment-qr-code {
        margin: 20px 0;
        text-align: center;

    }
</style>

<div class="center-content">
    <div class="service-instructions"></div>
        <h2>सेवा निर्देश</h2>
        <p>हमारी सेवाओं का लाभ उठाने के लिए कृपया नीचे दिए गए निर्देशों का पालन करें:</p>
        <ul>
            <li>Step 1: इस क्यूआर कोड पर 500 रुपये का भुगतान करें।</li>
            <li>Step 2: अप्रूवल के लिए बार एसोसिएशन से संपर्क करें।</li>
        </ul>
    </div>

    <div class="payment-qr-code">
        <h2>भुगतान क्यूआर कोड</h2>
        <p>भुगतान करने के लिए नीचे दिए गए क्यूआर कोड को स्कैन करें:</p>
        <img src="/media/{{service.barcode}}" alt="भुगतान क्यूआर कोड">
    </div>
</div>

{% endblock content %}</div>